@import "commonscss/reset.scss";
@import "commonscss/header.scss";
@import "commonscss/footer.scss";

main .w {
    position: relative;
	min-height: 600px;
    max-width: 1440px;
    .cart-empty{
    	width: 300px;
    	height: 300px;
    	position: absolute;
    	left:50%;
    	margin-left: -150px;
    	top: 50%;
    	margin-top: -150px;
    	text-align: center;
    	h4{
    		color: #00559a;
		    font-size: 28px;
		    font-weight: bold;
		    margin: 24px 0;
    	}
    	p{
    	  color: #8a8a8a;
          font-size: 16px;
          a{
          	    color: #e6003e;
			    text-decoration: underline;
			    font-size: 16px;
			    cursor: pointer;
          }
    	}
    	>a{  
    		display: inline-block;
    		color: #00559a;
		    border: 2px solid #00559a;
		    background-color: transparent;
		    min-width: 139px;
		    height: 36px;
		    line-height: 36px;
		    border-radius: 3px;
		    width: 135px;
		    padding: 0 10px;
		    font-size: 12px;
		    box-shadow: none;
		    box-sizing: content-box;
		    margin-top: 40px;
		    cursor: pointer;
    	}
    }

    h2{
    	font-size: 28px;
	    line-height: 28px;
	    color: #000;
	    padding: 50px 0 0 0;
	    font-weight: bold;
    }
    a{
    	color: #000;
    }
    .cart-btn-box{
        padding: 8px 0;
        text-align: right;
        >div{
        	display: inline-block;
            position: relative;
			.icon.icon-cart-maruChoice {
			    width: 18px;
			    height: 18px;
			    background: url(/static/img/common/icons.png) -108px -1084px no-repeat;
			    position: absolute;
			    top: 19px;
			    left: 0;
			    &.on{
			    	background-position:-10px -1084px; 
			    }
			}
            a{
            	display: block;
			    padding: 20px 20px 20px 30px;
			    font-size: 16px;
			    line-height: 16px;
			    color: #221815;
			    text-decoration: underline;
			    cursor: pointer;
            }
        }
    }

    .cart-content-header{
    	background-color: #949da9;
    	>div{
    		height: 50px;
		    line-height: 50px;
		    font-size: 16px;
		    font-weight: bold;
		    color: #fff;
		    float: left;
		    text-align: center;
		    position: relative;
		    &:first-child{
		    	width: 44%;
		    }
		    &:nth-child(2){
		    	width: 18%;
		    }
		    &:nth-child(3){
		    	width: 12%;
		    }
		    &:nth-child(4){
		    	width: 17%;
		    }
		    &:last-child{
		    	width: 9%;
		    }
    	}
    }
    .cart-content-body{
    	margin-bottom: 50px;
    	table{
    		width: 100%;
    		tr{
             width: 100%;
             border-bottom: 1px solid #e2e4ea;
    		td{
    			padding: 10px 0;
    			text-align: center;
    			position: relative;
    		 &:first-child{
		    	width: 44%;
		    	text-align: left;
		    	font-size: 12px;
		    	color:#666;
		    	h3{
		    		max-width: 350px;
				    font-size: 14px;
				    line-height: 16px;
				    color: #000;
				    font-weight: bold;
				    word-break: normal;
				    height: 32px;
				    overflow: hidden;
				    margin-bottom: 10px;
				    cursor: pointer;
		    	}
		    	img{
		    		width: 90px;
		    		height: 90px;
		    		margin-right: 15px;
		    	}
		    	input{
		    		width: 15px;
		    		height: 15px;
		    		margin-top: 35px;
		    		margin-right: 20px;
		    		margin-left: 10px;
		    	}
			    }
			    &:nth-child(2){
			    	width: 18%;
			    	span{
		    		    display: inline-block;
					    font-size: 16px;
					    line-height: 16px;
					    color: #000;
					    margin: 0 auto;
					    text-align: center;
					    padding: 2px 0;
					    font-weight: bold;
					    &.cart-del{
					    	font-size: 14px;
						    text-decoration: line-through;
						    color: #808285;
						    font-weight: normal;
					    }
			    	}
			    }
			    &:nth-child(3){
			    	width: 12%;
			    	input{
			    		width: 50px;
			    		height: 30px;
			    		text-align: center;
			    		border: 1px solid #808285;
			    	}
			    }
			    &:nth-child(4){
			    	width: 17%;
			    	span{
			    		font-size: 14px;
					    color: #00539c;
					    font-weight: bold;
			    	}
			    }
			    &:last-child{
			    	width: 9%;
			    	a{
			    		font-size: 12px;
			    		cursor: pointer;
			    	}
			    }
    	   }
    	}
    	}
    	
    	
    }

    .total-box{
    	text-align: right;
    	.total{
    		display: inline-block;
    		width: 330px;
    		height: 200px;
            padding: 20px 0 70px 0;
            p{
            	font-size: 20px;
			    line-height: 20px;
			    font-weight: bold;
			    color: #00539c;
			    margin-bottom: 30px;
            }
            .cart-btnBox{
            	a.btn{
            		display: block;
            		text-align: center;
            		color: #00559a;
				    border: 2px solid #00559a;
				    background-color: transparent;
				    min-width: 139px;
				    height: 36px;
				    line-height: 36px;
            	}
            	.btn{
            		cursor: pointer;
                border-radius: 3px;
			    border: none;
			    background-color: #00559a;
			    color: #ffffff;
			     width: 130px;
			    height: 40px;
			    line-height: 40px;
			    padding: 0 10px;
			    font-size: 12px;
			    box-shadow: none;
			    box-sizing: content-box;
			    transition:1s;
			    &:hover{
			    	opacity: .8;
			    }
                }
            }
           
            }
    	}
    }

